:root {
    --main-blue: #072540;
    --main-dark-blue: #041B33;
    --btn-blue: #0069FF;
    --accent-gold: #F2B151;
    --accent-pink: #FF8AE2;
    --accent-light-blue: #93C2DB;

    --rounded-edge: 0.2rem;
  }

  /* RESET*/

  /* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}


/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* HTML reset */
html {
    margin: 0;
    width: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
    list-style: none;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    width: 100%;
    display: block;
  }

/* Reset links */
a {
    text-decoration: none;
}

/* END RESET*/

body {
    background-color: var(--main-blue);
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

main, nav, footer {
    align-items: center;
}

section {
    margin-top: 2em;
    margin-bottom: 2em;;
}

.row {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
}

.row > div,section{
    justify-content: center;
}

.row.padded {
    margin: 2em 0 2em 0;
    z-index: 1;
}

.col {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
}

.col2 {
  display: flex;
  flex-direction: column;
  flex-shrink: 2;
  width: 20%;
}

.col.padded {
    margin: 0 2em 0 2em;
}

.row > div + .col > div {
    display: flex;
}

/* Components */

.wrapper {
    max-width: 1000px;
    flex: 1;
    align-items: center;
}

h1 {
    color: var(--accent-gold);
    font-family: 'Libre Baskerville', serif;
    font-size: 2.8em;
}
h2 {
    color: var(--accent-light-blue);
    font-weight: 700;
    font-size: 1.6em;
}
h3 {
    color: white;
    font-weight: 600;
    font-size: 1em;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 500;
}
p {
    margin: 1em 0 1.5em 0;
    line-height: 1.5em;
}

a {
    color: var(--accent-pink);
    font-weight: bold;
}

hr {
    width: 100%;
    box-sizing: border-box;
}

#navList {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex: 2;
}

#navList a {
    color: white;
    padding: 1em;
}

#navList  a:hover {
    border-bottom: 0.3em solid var(--accent-pink);
}


#navLogo {
    flex: 1;
    text-align: left;
}

.animation {
  position: absolute;
}

.subheader {
    font-size: 1em;
    color: white;
    font-weight: normal;
}

.eventTime {
    font-size: 0.8em;
    color: white;
    font-weight: lighter;
}

.btn {
    font-size: 14px;
    text-align: center;
    padding: 0.5em 2em;
    color: white;
    border-radius: var(--rounded-edge);
    border: 0.15em solid var(--btn-blue);
    background-color: var(--btn-blue);
    font-weight: 600;
}

.btn.btn-outline {
    background-color: transparent;
    border: 0.15em solid var(--accent-light-blue)
}

.btn:hover{
    border-color: transparent;
    background-color: var(--accent-pink);
}

.btn-group > .btn {
    flex: 1;
    margin: 1em 1em 1em 0;
}


.darkRow {
    background-color: var(--main-dark-blue);
    padding: 2em 0 7em 0;
    text-align: center;
}

.eventBox {
    background-color: var(--main-dark-blue);
    margin: 1em 0;
    padding: 3em;
    border-radius: var(--rounded-edge);
}

.eventBoxHeading {
  padding: 0;
}

.threesteps {
    align-items: center;

}

.threesteps img{
    width: 60%;
    max-width: 200px;
}

.col-9 {
    max-width: 75%;
    align-self: center;
}

.centered {
    text-align: center;
    justify-content: center;
    align-self: center;
}

.lastYearsList {
    padding: 0;
}

#challengeBlocks {
    align-items: flex-start;
}

.background-element-container {
    position: relative;
}

#background-element-logo {
    position: absolute;
    display: block;
    width: 50em;
    height: 50em;
    left: -40em;
    top: -10em;
    background-image: url(img/Hacktoberfest20-logo.svg);
    z-index: -1;
    background-repeat: no-repeat;
    opacity: 30%;

}

.effect-stars-group {
    position: relative;
}

.star-effect {
    display: block;
    position: absolute;
    width: 1em;
    height: 1em;
    background-color: white;
    transform: rotate(45deg);
}
#star-1 {
    width: 0.4em;
    height: 0.4em;
    top: -2.6em;
    left: 2em;
    background-color: var(--accent-light-blue);
}

#star-2 {
    width: 0.7em;
    height: 0.7em;
    left: -2em;
    background-color: white;
}

#star-3 {
    width: 0.5em;
    height: 0.5em;
    top: -2.6em;
    background-color: var(--accent-gold);
}

#star-4 {
    left: -3em;
    top: -0.8em;
    background-color: var(--accent-light-blue);
}

#star-5 {
    width: 0.5em;
    height: 0.5em;
    left: 3em;
    top: -0.8em;
    background-color: white;
}
#eventsHeader {
    flex: 1;
}

#star-6 {
    width: 0.8em;
    height: 0.8em;
    background-color: var(--accent-light-blue);
}
#star-7 {
    width: 0.3em;
    height: 0.3em;
    left: 1em;
    top: 3.5em;
    background-color: white;
}

#star-8 {
    width: 0.6em;
    height: 0.6em;
    left: -3em;
    top: 2.5em;
    background-color: var(--accent-gold);
}

#sponsorBox {
    align-items: center;
    padding: 0 4em;
}

#sponsorBox > img+span{
    display: flex;
    flex: 1;
    text-align: center;
    justify-content: center;
    padding: 1em;
}

footer {
    display: flex;
    margin-top: 2em;
    padding: 0 1em;
    background-color: var(--main-dark-blue);
}

footer ul {
    display: flex;
    padding: 0;
    margin: 0;
    flex: 1;
}

footer li {
    list-style: none;
    margin-right: 1em;
}

.footernav {
    border-top: 1px solid white;
    padding-top: 0.5em;
    margin-top: 0.5em
}

.footernav a{
    color: white;
}

.footerSocialIcons,
.copywrite {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.footerLogo {
    display: flex;
    flex: 1;
}

.socialIcon {
    padding: 1em;
    color: white;
}

.logo {
    max-width: 10em;
    color: white;
}

#sponsorList {
    padding: 0;
    list-style: none;
}

#sponsorList li {
    padding: 0.5em 0;
}



@media only screen and (max-width: 812px) {
    .row {
        flex-direction: column;
    }
    .col.padded, .row.padded {
        margin: 0;
        padding: 0.5em 0 0.5em 0;
    }
    section {
        width: 90% !important;
    }

    .btn-group > .btn {
        flex: 1;
        margin: .5em 0;
    }

    .animation {
      position: static;
    }

    .darkRow {
        padding: 2em 0;
    }

    .col2 {
      width: 100%;
      margin-top: 2em;
    }

    #navList {
        flex-direction: column;
    }
    #navList li{
        margin: 1em;
    }

    #sponsorBox {
        align-items: center;
        padding-top: 2em;
    }

    footer .row.padded {
        padding: 2em 0;
    }

    footer ul {
        margin: 0.5em 0 1.5em;
    }

    .copywrite {
      text-align: center;
    }

    .footerLogo,
    .footerSocialIcons,
    footer ul,
    .copywrite {
        justify-content: center;
    }
}
