.ctaButton {
    background-color: $color-accent;
    color: $color-white;
    display: inline-block;
    padding: 0.6em 2em;
    font-weight: bold;
    text-decoration: none;
    margin: 0.5em
}

.hero {
    h1, h2, h3 {
        align-self: flex-start;
        padding: 1rem;
    }
    .col {
        display: flex;
        justify-content: center;
        align-items: center;

    }
    
    .heroImage {
        min-width: 30em;
        display: flex;
        justify-content: center;
        align-items: center;

        #OrbtoberfestThemeLogo {
            transform: translate(1.5em);
        }
    }
}

.participateRow {
    border-radius: 0.3em;
    background-color: rgba( 255,255,255, 0.1);
    padding: 1.2em;

    .dot {
        width: 2.5em;
        height: 2.5em;
        border-radius: 50%;
        border: 0.3em solid $color-secondary;
        line-height: 2em;
    }
}

p {
    padding: 1em;
}

.parallax-container {
    padding: 1em;
}

.orbtoberfestLabel {
    padding: 0.2em;
    margin: 0.1em;
    border-radius: 0.3em;
    background-color: $color-accent;
    color: $color-white;
    font-weight: bold;
}