

.container {
    max-width: 70em;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 1em;
}
.col {
    display: flex;
    flex: 1 auto;
    flex-basis: 100%;
    flex-direction: column;
    min-width: 0;
    padding: 0.4em;
}

h1, h2, h3 {
    padding: 0.1em;
}