//colors
$color-primary: #132347;
$color-primary-dark: rgb(11, 14, 32);
$color-secondary: #98CA40;
$color-tertiary: #FFC438;
$color-accent: #8F2C83;
$color-accent-light: #DB509D;
$color-primary-light: #9ADAF0;
$color-white: #FFF;