@import './reset.scss';
@import './layout.scss';
@import './variables.scss';
@import './components.scss';

@media only screen and (min-width: 860px) {

    #navComponent {
        position: fixed;
        top: 0;
    }

    .desktop-left {
        text-align: left;
        align-self: flex-start;
    }
    
}

@media only screen and (max-width: 860px) {
    .row {
        flex-direction: column;
    }
    .footerContainer .row {
        align-items: center;
    }
    .gamaburst {
        display: none;
    }
    .desktop-left {
        text-align: center;
    }
    .mainHeroRow {
        flex-direction: column-reverse;
    }
  }

