.ctaButton {
    background-color: $color-accent;
    color: $color-white;
    display: inline-block;
    padding: 0.6em 2em;
    font-weight: bold;
    text-decoration: none;
    margin: 0.5em
}

.hero {
    h1 {
        align-self: flex-start;
    }
    .col {
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .row {
        display: flex;
        justify-content: center;
        align-items: center;

    }
    
    .heroImage {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            max-width: 25em;
            margin: 1em;
        }
        
    }
}

p {
    padding: 1em;
}

.eventCard {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 max-width: 20em;
 background-color: $color-tertiary;
 padding: 1em;
 margin-bottom: 0.4em;
}
